<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>疫情监控</title>
		<script src="../static/js/jquery-1.11.1.min.js"></script>
		<script src="../static/js/echarts.min.js"></script>
		<script src="../static/js/china.js"></script>
		<script src="../static/js/echarts-wordcloud.min.js"></script>
		<link href="../static/css/main.css" rel="stylesheet" />
	</head>
	<body>
		<div id="title">全国疫情实时追踪</div>
		<div id="time"></div>
		<div id="l1">我是左1</div>
		<div id="l2">我是左2</div>
		<div id="c1">
			<div class="num">
				<h1></h1>
			</div>
			<div class="num">
				<h1></h1>
			</div>
			<div class="num">
				<h1></h1>
			</div>
			<div class="num">
				<h1></h1>
			</div>
			<div class="txt">
				<h2>累计确诊</h2>
			</div>
			<div class="txt">
				<h2>剩余疑似</h2>
			</div>
			<div class="txt">
				<h2>累计治愈</h2>
			</div>
			<div class="txt">
				<h2>累计死亡</h2>
			</div>
		</div>
		<div id="c2">我是中2</div>
		<div id="r1">我是右1</div>
		<div id="r2">我是右2</div>
		<script src="../static/js/ec_center.js"></script>
		<script src="../static/js/ec_left1.js"></script>
		<script src="../static/js/ec_left2.js"></script>
		<script src="../static/js/ec_right1.js"></script>
		<script src="../static/js/ec_right2.js"></script>
		<script>
			function get_time() {
				$.ajax('', {
					url: "/time",
					timeout: 10000, //超时时间设置为10秒；
					success: function(data) {
						$("#time").html(data)
					},
					error: function(xhr, type, errorThrown) {

					}
				});
			}

			function get_c1_data() {
				$.ajax({
					url: "/c1",
					timeout: 10000, //超时时间设置为10秒；
					success: function(data) {
						$(".num h1").eq(0).text(data.confirm);
						$(".num h1").eq(1).text(data.suspect);
						$(".num h1").eq(2).text(data.heal);
						$(".num h1").eq(3).text(data.dead);
					},
					error: function(xhr, type, errorThrown) {

					}
				})
			}

			function get_c2_data() {
				$.ajax({
					url: "/c2",
					timeout: 10000, //超时时间设置为10秒；
					success: function(data) {
						ec_center_option.series[0].data = data.data
						ec_center.setOption(ec_center_option)
					},
					error: function(xhr, type, errorThrown) {

					}
				})
			}

			function get_l1_data() {
				$.ajax({
					url: "/l1",
					timeout: 10000, //超时时间设置为10秒；
					success: function(data) {
						ec_left1_Option.xAxis[0].data = data.day
						ec_left1_Option.series[0].data = data.confirm
						ec_left1_Option.series[1].data = data.suspect
						ec_left1_Option.series[2].data = data.heal
						ec_left1_Option.series[3].data = data.dead
						ec_left1.setOption(ec_left1_Option)
					},
					error: function(xhr, type, errorThrown) {

					}
				})
			}

			function get_l2_data() {
				$.ajax({
					url: "/l2",
					timeout: 10000, //超时时间设置为10秒；
					success: function(data) {
						ec_left2_Option.xAxis[0].data = data.day
						ec_left2_Option.series[0].data = data.confirm_add
						ec_left2_Option.series[1].data = data.suspect_add
						ec_left2_Option.series[2].data = data.heal_add
						ec_left2_Option.series[3].data = data.dead_add
						ec_left2.setOption(ec_left2_Option)
					},
					error: function(xhr, type, errorThrown) {

					}
				})
			}


			function get_r1_data() {
				$.ajax({
					url: "/r1",
					timeout: 10000, //超时时间设置为10秒；
					success: function(data) {
						ec_right1_option.xAxis.data = data.city
						ec_right1_option.series[0].data = data.confirm
						ec_right1.setOption(ec_right1_option)
					},
					error: function(xhr, type, errorThrown) {

					}
				})
			}

			function get_r2_data() {
				$.ajax({
					url: "/r2",
					timeout: 10000, //超时时间设置为10秒；
					success: function(data) {
						ec_right2_option.series[0].data = data.kws
						ec_right2.setOption(ec_right2_option)
					},
					error: function(xhr, type, errorThrown) {

					}
				})
			}

			get_time()
			get_r1_data()
			get_l1_data()
			get_c1_data()
			get_c2_data()
			get_l2_data()
			get_r2_data()


			// setInterval(get_time, 1000)
			// setInterval(get_c1_data, 1000)
			// setInterval(get_c2_data, 10000 * 10)
			// setInterval(get_l1_data, 10000 * 10)
			// setInterval(get_l2_data, 10000 * 10)
			// setInterval(get_r1_data, 10000 * 10)
			// setInterval(get_r2_data, 10000 * 10)
		</script>
		<!-- <script src="../static/js/controller.js"></script> -->
	</body>
</html>
